@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


body {
    font-family: 'Indie Flower', cursive;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    align-items: center;
    background: #f8f9f4;
    color: rgb(0, 0, 0);
    animation: fadeInAnimation ease 2.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    color: #3b3a39
}

.weewoo{
  margin-left: 8.5px;
  margin-right: 8.5px;
}

.numbertext{
  font-family: 'Fredoka One';
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom-right-radius: 50%
}


@keyframes fadeInAnimation {
    0% {
      opacity: 0;
      /*filter: blur(20px);*/
    }
    100% {
      opacity: 1;
      /*filter: blur(0px);*/
    }
}
  html {
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}
  * {
    -webkit-overflow-scrolling: touch;
}

::-moz-selection {
    /* Code for Firefox */
    color: rgb(26, 26, 26);
    background: #ffffff;
    text-decoration-color: #ffffff;
}

::selection {
    color: rgb(26, 26, 26);
    background: #ffffff;
    text-decoration-color: #ffffff;
}


/************************************
***********************************/


ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none; 
  padding: 0px; 
  margin: 0px;
}

li {
  height: 40vh;
  flex-grow: 1;
  padding: 1.5px;
}

li:last-child {
  flex-grow: 10;
}

img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}


@media (max-aspect-ratio: 1/1) {
  li {
    height: 30vh;
  }
}

@media (max-height: 480px) {
  li {
    height: 80vh;
  }
}



@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
  ul {
    flex-direction: row;
  }

  li {
    height: auto;
    width: 100%;
  }
  img {
    width: 100%;
    max-height: 75vh;
    min-width: 0;
  }
}



/************************************
***********************************/




.modal {
  display: none;
  position: fixed;
  z-index: 1;
  /*
  padding-top: 5px;
  padding-bottom: 5px;*/
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}


.modal-content {
  position: relative;
  background-color: #fefefe;
  top: 50%;
  transform: translateY(-50%);
  /*margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 88%;
  /*max-width: 1200px;*/
}


.close {
  z-index: 5;
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}


.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.prev{
  left:0px;
}
.next {
  right: 0px;
  border-radius: 3px 0 0 3px;
}


.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0);
}


.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}





/*

.footer-basic {
  padding:40px 0;
}
*/
